---
layout: default
scripts: |
  <script>
  $(function() {
    $('.reviews').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      autoplay: true,
      autoplaySpeed: 10000
    });
    $('.reviews .review').removeClass('hidden');
    $('form').on('submit', function(e) {
      e.preventDefault(); // prevent native submit
      $(this).ajaxSubmit();
      console.log("submitted");
    });
  });
  </script>
---
<div id="application">
  <section class="bg-primary text-white">
    <div class="container">
      {% include reviews.html %}
    </div>
  </section>
  <section>
    <div class="container">
      <form name="insightly_web_to_lead" action="https://googleapps.insight.ly/WebToLead/Create" method="post">
        <input type="hidden" name="formId" value="P26VnYXCPMyqu/336CA7sA==" />
        <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1270111"/>
        <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1522626"/>
        <input type="hidden" id="insightly_AddressCity" name="AddressCity" type="text" value="{site.city}"/>
        <input type="hidden" id="insightly_LEAD_FIELD_14" name="LEAD_FIELD_14" type="text" value="In the Application Process">
        <div class="form-group">
          <label for="insightly_firstName">First Name: </label>
          <input class="form-control" id="insightly_firstName" name="FirstName" type="text"/>
        </div>
        <div class="form-group">
          <label for="insightly_lastName">Last Name: </label>
          <input class="form-control" id="insightly_lastName" name="LastName" type="text"/>
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input class="form-control" id="insightly_Email" name="email" type="text"/>
        </div>
        <div class="form-group">
          <label for="phone">Phone: </label>
          <input class="form-control" id="insightly_Phone" name="phone" type="text"/>
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_1">Which course are you applying for? </label>
          <select id="insightly_LEAD_FIELD_1" class="form-control" name="LEAD_FIELD_1">
            <option value="Intro">Intro</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_2">Current City </label>
          <input class="form-control" id="insightly_LEAD_FIELD_2" name="LEAD_FIELD_2" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_3">College or School Attended </label>
          <input class="form-control" id="insightly_LEAD_FIELD_3" name="LEAD_FIELD_3" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_4">Current Occupation </label>
          <input class="form-control" id="insightly_LEAD_FIELD_4" name="LEAD_FIELD_4" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_5">Current Company </label>
          <input class="form-control" id="insightly_LEAD_FIELD_5" name="LEAD_FIELD_5" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_6">What experience, if any, do you have in coding already? </label>
          <select class="form-control" id="insightly_LEAD_FIELD_6" name="LEAD_FIELD_6">
            <option value="None at all!">None at all!</option>
            <option value="I've dabbled with some online tutorials">I've dabbled with some online tutorials</option>
            <option value="Solid fundamentals but not ready for a job">Solid fundamentals but not ready for a job</option>
            <option value="I'm a professional developer">I'm a professional developer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_7">What should we know about your learning style? </label>
          <input class="form-control" id="insightly_LEAD_FIELD_7" name="LEAD_FIELD_7" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_8">What are you hoping to get out of this course? </label>
          <input class="form-control" id="insightly_LEAD_FIELD_8" name="LEAD_FIELD_8" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_9">Please paste a link to the meme that best describes you </label>
          <input class="form-control" id="insightly_LEAD_FIELD_9" name="LEAD_FIELD_9" type="text" />
        </div>
        <label>What are the biggest factors for you in deciding a coding school? </label>
        <br />
        <label class="checkbox-inline">
          <input type="checkbox" value="Curriculum" name="LEAD_FIELD_10[]" />
          Curriculum
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="Schedule" name="LEAD_FIELD_10[]" />
          Schedule
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="Teaching Methodology" name="LEAD_FIELD_10[]" />
          Teaching Methodology
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="Tuition Cost" name="LEAD_FIELD_10[]" />
          Tuition Cost
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="Culture Fit" name="LEAD_FIELD_10[]" />
          Culture Fit
        </label>
        <br />
        <br />
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_11">Will your employer be paying for this course? </label>
          <select class="form-control" id="insightly_LEAD_FIELD_11" name="LEAD_FIELD_11">
            <option value="I'll have to check">I'll have to check</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_12">How did you hear about this course? </label>
          <input class="form-control" id="insightly_LEAD_FIELD_12" name="LEAD_FIELD_12" type="text" />
        </div>
        <div class="form-group">
          <label for="insightly_LEAD_FIELD_13">Referral or Promo Code </label>
          <input class="form-control" id="insightly_LEAD_FIELD_13" name="LEAD_FIELD_13" type="text" />
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit Form</button
      </form>
    </div>
  </section>
  <section class="bg-primary text-white">
    <div class="container">
      {% include reviews.html %}
    </div>
  </section>
</div>
