---
layout: default
---
<div id="courses">
  <section>
    <div class="container">
      <h1 class="text-center">
        The Strongest Curriculum in Texas
        <br />
        <small>
          Written by Developers with Employment In Mind
        </small>
      </h1>
      <div class="row text-center">
        <div class="col-xs-12 col-md-4">
          <h3>
            <div class="fa-stack fa-lg text-success">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-code fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            <br />
            Intro
            <br />
            <small>
              In this class you will learn how the internet works and build your
              own web pages. You will delve into HTML and CSS, and by the end of
              the class you will be proficient in responsive web design. You
              will create your own web pages that look good on desktops,
              tablets, and mobile phones and will be capable of building
              professional quality websites.
              <br />
              <a href="/intro.html">Learn more about the Intro Class</a>
            </small>
          </h3>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3>
            <div class="fa-stack fa-lg text-success">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-code-fork fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            <br />
            Intermediate
            <br />
            <small>
              In this class you will be diving into the world of object oriented
              programming. You'll be building a new app every week and learning
              how to build and maintain the technology that powers modern day
              applications. Depending on your campus, you'll be learning in
              either JavaScript or C# and will be building a new app every week.
              <br />
              <a href="/intermediate.html">Learn more about the Intermediate Class</a>
            </small>
          </h3>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3>
            <div class="fa-stack fa-lg text-success">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-cloud fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            <br />
            Advanced
            <br />
            <small>
              In this class, you will put all that you've learned together to
              become a full stack programmer. You will use front end and back
              end frameworks like React and Node.js or .NET. You will create a
              restful API, learn authentication, and perform API consumption.
              You will leave this class with your own app uploaded to Heroku.
              <br />
              <a href="/advanced.html">Learn more about the Advanced Class</a>
            </small>
          </h3>
        </div>
      </div>
      <img src="/assets/images/web-dev-graphic.png" class="img-responsive" alt="Responsive image">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Have some questions? We have answers!</h2>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <a href="#" class="btn btn-success btn-lg btn-block">Chat with an Advisor now</a>
            </div>
            <div class="col-xs-12 col-md-6">
              <a href="#" class="btn btn-success btn-lg btn-block">Schedule call with an Advisor</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-center text-white">
      <h2>Upcoming Classes</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Next Session Begins
            <br />
            <span class="text-success">{{site.next_session}}</span>
          </h3>
          <img src="/assets/images/manny-gia.jpeg" class="img-responsive thumbnail" alt="Responsive image">
        </div>
        <div class="col-xs-12 col-md-6 text-primary">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="text-center">Ready to Begin?</h4>
            </div>
            <div class="panel-body">
              <h5 class="text-center">Fill out this form to start your application.</h5>
              {% include capture.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-center">
      <h2>Time Commitment</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h3>
            <div class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            <br />
            Class Time
            <br />
            <small>
              You will be in class two nights a week, either M/W or T/TH from
              6:30-9:00pm. Our classes are light on lecture, and heavy on
              building in small groups or with paired programming.
            </small>
          </h3>
          <h4 class="text-primary">About 5 Hours Week</h4>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3>
            <div class="fa-stack fa-lg text-warning">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-keyboard-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            <br />
            Homework and Projects
            <br />
            <small>
              To get the best experience possible, students put in a little more
              than an hour a day outside of class working on projects that will
              be hosted on your Github account (your future resume).
            </small>
          </h3>
          <h4 class="text-warning">About 10 Hours Week</h4>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3>
            <div class="fa-stack fa-lg text-success">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-suitcase fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            <br />
            Job Readiness
            <br />
            <small>
              One of our five key areas is job readiness. Most of our students
              are either looking for a career switch or advancement. We can’t
              just learn to code and then wing the interview. It takes prep and
              practice.
            </small>
          </h3>
          <h4 class="text-success">About 2 Hours Week</h4>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary" style="width: 29%">
          <span class="sr-only">29%</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 60%">
          <span class="sr-only">60%</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 11%">
          <span class="sr-only">11%</span>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-warning text-white text-center">
    <div class="container">
      <h2>
        Tuition
        <br />
        <small class="text-white">
          After our student outcomes, our low tuition is a point of pride for us.
          How do we keep prices so low? We partner with co-working spaces that
          have conference rooms that go unused in the evenings and we work with
          teachers who are developers focused on giving back to the future
          generation of developers. Keeping tuition low is a major part of
          accessibility.
        </small>
      </h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>
            <small class="text-white">per level</small>
            <br />
            {{site.course_amount}}
            <br />
            <small class="text-white">10 weeks</small>
          </h3>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3>
            <small class="text-white">all three levels</small>
            <br />
            {{site.track_amount}}
            <br />
            <small class="text-white">9 months</small>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="text-center">Ready to Begin?</h4>
            </div>
            <div class="panel-body">
              <h5 class="text-center">Fill out this form to start your application.</h5>
              {% include capture.html %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <a href="#" class="btn btn-success btn-lg btn-block">Get in Touch</a>
        </div>
        <div class="col-xs-12 col-md-6">
          <a href="#" class="btn btn-success btn-lg btn-block">Schedule a Visit</a>
        </div>
      </div>
    </div>
  </section>
</div>
