---
layout: default
---
<div id="hire">
  <section>
    <div class="container">
      <h1 class="text-center">
        Hiring one of our graduates means you're hiring more than just a
        developer.
      </h1>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h2 class="text-center">
            It's not just about hiring someone who knows how to code...
            <br />
            <small>
              It's about hiring someone who knows how to solve problems, work on a
              team, and add value to the bottom line. Our students learn how to code
              with a focus on our five key areas of growth.
            </small>
          </h2>
          {% for area in site.data.growth_areas %}
          <h3>
            <div class="fa-stack fa-lg pull-left" style="margin-right: 10px">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-{{ area.icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </div>
            {{ area.name }}
            <br />
            <small>{{ area.description }}</small>
          </h3>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="xs-col-12 col-md-offset-1 col-md-10 text-center">
          <h2>Our students work at companies like...</h2>
          <br />
          <div class="block-grid-xs-3 block-grid-sm-4">
            {% for company in site.data.companies %}
            <div><img src="{{ company.logo }}" /></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-center">
      <h2>Want to get involved?</h2>
      <div class="row">
        <div class="xs-col-12 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-body">
              <h3>
                Be an Employment Partner
                <br />
                <small>
                  You can attend demo days and be on a first name basis with our
                  career services department who will generate qualified graduates
                  that fit your specific hiring needs. If you have a very specific
                  tech stack and would like graduates to come pre-boarded, let us
                  know and we can make sure they are prepared on day one to hit
                  the ground running.
                </small>
              </h3>
              <a class="btn btn-success btn-block">Speak about hiring a grad</a>
            </div>
          </div>
        </div>
        <div class="xs-col-12 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-body">
              <h3>
                Curriculum Steering Committee
                <br />
                <small>
                  You can apply to represent your company on our Curriculum
                  Steering Committee, helping us to sort through the data to
                  determine the most important topics we need to incorporate into
                  future curricula. To apply for a position on the Steering
                  Committtee, or to learn more about requirements for joining,
                  please get in touch.
                </small>
              </h3>
              <a class="btn btn-success btn-block">Speak about CSC</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
