<form name="insightly_web_to_lead" action="https://googleapps.insight.ly/WebToLead/Create" method="post">
  <input type="hidden" name="formId" value="P26VnYXCPMyqu/336CA7sA==" />
  <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1270111"/>
  <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1522626"/>
  <input type="hidden" id="insightly_AddressCity" name="AddressCity" type="text" value="{{site.city}}"/>
  <div class="row">
    <div class="col-xs-12 col-md-6 margin-0">
      <div class="form-group">
        <label for="insightly_firstName">First Name: </label>
        <input id="insightly_firstName" class="form-control" name="FirstName" type="text"/>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 margin-0">
      <div class="form-group">
        <label for="insightly_lastName">Last Name: </label>
        <input id="insightly_lastName" class="form-control" name="LastName" type="text"/>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 margin-0">
      <div class="form-group">
        <label for="email">Email: </label>
        <input id="insightly_Email" class="form-control" name="email" type="text"/>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 margin-0">
      <div class="form-group">
        <label for="phone">Phone: </label>
        <input id="insightly_Phone" class="form-control" name="phone" type="text"/>
      </div>
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-info btn-block">
</form>
