<footer>
  <nav class="navbar navbar-default navbar-static-bottom">
    <div class="container">
      <div class='row'>
        <div class="col-xs-12 text-center">
          <ul class="list-inline lead">
            <li><small><a href="/application.html">APPLICATION</a></small></li>
            <li><small><a href="/blog.html">BLOG</a></small></li>
            <li><small><a href="/courses.html">COURSES</a></small></li>
            <li><small><a href="/hire.html">EMPLOYERS</a></small></li>
            <li><small><a href="/faq.html">FAQ</a></small></li>
          </ul>
          <ul class="list-inline">
            <li><a href="{{site.facebook}}"><i class="fa fa-facebook-official fa-2x"></i></a></li>
            <li><a href="{{site.googleplus}}"><i class="fa fa-google-plus-official fa-2x"></i></a></li>
            <li><a href="{{site.instagram}}"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="{{site.twitter}}"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="{{site.linkedin}}"><i class="fa fa-linkedin fa-2x"></i></a></li>
          </ul>
          {{site.title}}
          <br />
          &copy; 2017
        </div>
      </div>
    </div>
  </nav>
</footer>
