<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="well well-sm text-right">
      <div class="container">
        <a href="https://goo.gl/maps/Kgtw4DtyH4n" class="text-white"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;701 Brazos St, 16th Floor, Austin, TX 78701</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="link-white"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Request Syllabus</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="link-white"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-phone"></i>&nbsp;&nbsp;(512) 827-8498
      </div>
    </div>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="/assets/images/ACA_standard_stacked.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">ENTERPRISE</a></li>
          <li><a href="#">HIRE A GRAD</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">COURSES <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Overview</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Intro - Full Stack Web Development 101</a></li>
              <li><a href="#">Intermediate - Full Stack Web Development 102</a></li>
              <li><a href="#">Advanced - Full Stack Web Development 103</a></li>
            </ul>
          </li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#" class="btn btn-success">APPLY NOW</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
