#courses {
  section {
    &:nth-child(2) {
      background-image: url('/assets/images/manny-gia-overlay.jpg');
      background-size: cover;
      color: #ffffff;
    }
    &:nth-child(3) {
      
    }
  }
}
