header {
  .well {
    background-color: $brand-primary;
    color: #ffffff;
    margin: 0;
  }
  .navbar {
    margin-bottom: 0;
    .navbar-brand {
      padding: 0 15px;
    }
    .btn-success {
      color: #ffffff !important;
      &:hover,
      &:focus {
        background-color: darken($brand-success, 15%)  !important;
      }
    }
  }
  img {
    border: none;
  }
}
