#hire {
  section {
    &:nth-child(1) {
      background-image: url('/assets/images/christa-bg.jpg');
      padding: 150px 0;
      background-size: cover;
      color: #ffffff;
    }
    &:nth-child(2), &:nth-child(4) {
      color: $brand-warning;
      background-color: $gray-lighter;
      h2, .fa-stack-2x {
        color: $brand-warning;
      }
    }
  }
}
