#index {
  section {
    padding: 25px;
    &:nth-child(1) {
      background-image: url('../images/Class-background-small-overlay.jpg');
      padding: 50px;
      background-size: cover;
      img {
        border: none;
      }
    }
    &:nth-child(2) {
      color: $brand-primary;
    }
    &:nth-child(3) {
      background-color: $brand-primary;
      color: #ffffff;
    }
    &:nth-child(4) {
      img {
        max-height: 75px;
        max-width: 150px;
      }
    }
    &:nth-child(5) {
      background-color: $brand-secondary;
      color: #ffffff;
    }
    &:nth-child(6) {
      background-color: $gray-lighter;
      h2, .fa-stack-2x {
        color: $brand-secondary;
      }
    }
    &:nth-child(7) {
      background-color: $brand-primary;
      color: #ffffff;
      img {
        max-width: 250px;
        max-height: 250px;
      }
      p {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &:nth-child(8) {
      color: $brand-primary;
    }
  }
}
