---
---
:focus {
  outline-color: transparent;
  outline-style: none;
}

$fa-font-path: "/bower_components/font-awesome/fonts" !default;
$slick-font-path: "/bower_components/slick-carousel/slick/fonts" !default;
$slick-font-family: "Lato" !default;
$slick-loader-path: "/bower_components/slick-carousel/slick/" !default;

@import
  url('https://fonts.googleapis.com/css?family=Lato'),
  '../bower_components/font-awesome/scss/font-awesome',
  '../bower_components/slick-carousel/slick/slick',
  '../bower_components/slick-carousel/slick/slick-theme',
  'variables',
  'bootstrap',
  'helpers',
  'header',
  'footer',
  'index';

// (Your custom CSS Here)

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
