---
layout: default
---
<div id="course">
  <section>
    <div class="container">
      <h1 class="text-center">
        {{ site.data.courses[site.stack][page.level]['title'] }}
        <br />
        <small>Full Stack Web Development 101</small>
      </h1>
      <h2 class="text-center">Next class begins: <span class="text-success">{{site.next_session}}</span></h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          {{ site.data.courses[site.stack][page.level]['description'] }}
          <div class="block-grid-xs-1 block-grid-sm-3 block-grid-md-2">
            <div>
              <h4>Skills you'll learn</h4>
              <ul class="list-unstyled">
                {% for skill in site.data.courses[site.stack][page.level]['skills'] %}
                <li><i class="fa fa-fw fa-caret-right"></i> {{ skill }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h4>What you'll build</h4>
              <ul class="list-unstyled">
                {% for project in site.data.courses[site.stack][page.level]['projects'] %}
                <li><i class="fa fa-fw fa-caret-right"></i> {{ project }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h4>Can lead to a job as</h4>
              <ul class="list-unstyled">
                {% for job in site.data.courses[site.stack][page.level]['jobs'] %}
                <li><i class="fa fa-fw fa-caret-right"></i> {{ job }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="{{site.data.courses[site.stack][page.level]['image']}}" class="img-responsive" alt="Responsive image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <a href="#" class="btn btn-success btn-lg btn-block">Download Syllabus</a>
        </div>
        <div class="col-xs-12 col-md-6">
          <a href="/application.html" class="btn btn-success btn-lg btn-block">Apply Now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary text-white">
    <div class="container text-center">
      <h2>
        Which level should you be in?
        <br />
        <small class="text-white">
          Intro, Intermediate, or Advanced? Give us a call and we'd be happy
          to discuss what level you should be in.
        </small>
      </h2>
    </div>
  </section>
  <section class="bg-gray-lighter text-center">
    <div class="container">
      <h2>
        Tuition
        <br />
        <small>
          After our student outcomes, our low tuition is a point of pride for
          us. How do we keep prices so low? We partner with co-working spaces
          that have conference rooms that go unused in the evenings and we work
          with teachers who are developers focused on giving back to the future
          generation of developers. Keeping tuition low is a major part of
          accessibility.
        </small>
        <br />
        <br />
        {{site.course_amount}}
        <br />
        <small>Full Tuition</small>
      </h2>
    </div>
  </section>
  <section class="bg-primary text-white">
    <div class="container">
      <h2 class="text-center">
        What we look for in students
        <br />
        <small class="text-white">
          ACA students come from all walks of life. We have bankers and
          waitresses, teachers and musicians, account managers and graphic
          designers. We’ve had students just graduating high school and students
          moving back into the workforce after raising a family of their own. The
          common thread is that every student is hungry to learn and eager to work
          hard.
        </small>
      </h2>
      <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
          <h2>Our Students Have</h2>
          <ul class="list-unstyled">
            <li>
              <h4>
                <i class="fa fa-fw fa-check-circle text-success"></i>
                An Incredible Work Ethic
              </h4>
            </li>
            <li>
              <h4>
                <i class="fa fa-fw fa-check-circle text-success"></i>
                A Burning Desire to Learn
              </h4>
            </li>
            <li>
              <h4>
                <i class="fa fa-fw fa-check-circle text-success"></i>
                Winning Persistance
              </h4>
            </li>
            <li>
              <h4>
                <i class="fa fa-fw fa-check-circle text-success"></i>
                Willingness to Listen
              </h4>
            </li>
            <li>
              <h4>
                <i class="fa fa-fw fa-check-circle text-success"></i>
                Rock Solid Integrity
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="/assets/images/canaan-teaching.jpeg" class="img-responsive thumbnail" alt="Responsive image">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="text-center">Ready to Begin?</h4>
            </div>
            <div class="panel-body">
              <h5>Fill out this form to start your application.</h5>
              {% include capture.html %}
            </div>
          </div>
        </div>
      </div>
      <h2>Need More Info To Make A Decision?</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <a href="#" class="btn btn-success btn-lg btn-block">Get in Touch</a>
        </div>
        <div class="col-xs-12 col-md-6">
          <a href="#" class="btn btn-success btn-lg btn-block">Schedule a Visit</a>
        </div>
      </div>
    </div>
  </section>
</div>
